// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #FEFDFF;
$grey: #ECECE9;
$black: black;
$light_blue: #8EB1C7;
$dark_blue: #5C89A6;
$red: #EB4511;
$dark_red: #B02E0C;
