section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uni {
  width: 100%;
  height: 20%;
}

// .course-img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.showcard {
  display: flex;
  justify-content: space-between;
}
.info-section {
  display: flex;
  justify-content: space-between;
}

.course-page-title {
  padding-top: 20px;
  display: flex;
  justify-items: flex-start;
}

.card-product-show {
  overflow: hidden;
  height: 120px;
  box-shadow: 5px 5px 12px -1px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  height: 200px;
  background: #282D32;
  border-radius: 6px;
}

.card-product-show img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border: 10px;
  border-radius: 12px;
  padding: 10px;

}

.card-product-show p {
  color: $white;
  line-height: 1.2;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  // padding-left: 15px;
}

.card-product-show .card-product-infos-show {
  padding: 16px;
}

// profile page show
#profile-h1 {
  padding-top: 20px;
}

#profile-discover-bttn {
  padding-top: 40px;
  padding-bottom: 50px;
}

#card-product-infos-show-p p {
  color: $white;
  font-weight: bolder;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  border-radius: 10px;
}

.course-info-and-map {
  padding-left: 75px;
}
