    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Contact Support</a></li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Report a problem</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Rechair</h3>
                        <p>We strive to provide formal education for everyone. Our goal is to fill up all the free spaces at universities and make maximum use of the great minds that teach. Education is a cornerstone for becoming a better individual.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="fa-brands fa-facebook-square"></i></a><a href="#"><i class="fa-brands fa-twitter-square"></i></a><a href="#"><i class="fa-brands fa-snapchat-square"></i></a><a href="#"><i class="fa-brands fa-instagram-square"></i></a></div>
                </div>
                <p class="copyright">Rechair © 2022</p>
            </div>
        </footer>
    </div>
