    <%= render 'shared/navbar' %>

<div class="banner" style="background-image: linear-gradient(-225deg, #231B1B 0%, rgba(0,36,61,0.6) 50%), url('https://www.hoteldonandres.com/wp-content/uploads/2016/10/blackboard.jpg')">
  <div class="banner-content">
    <h1><span class=red>Re</span>Chair</h1>
    <p>Every chair is an opportunity</p>
    <%= form_with url: "courses", method: :get do |form| %>
    <%= form.text_field :query, placeholder: "Search for courses" %>
    <%= form.submit "Go!", class: "btn btn-primary btn-lg" %>
<% end %>
</div>
