<%= render 'shared/navbar' %>

<div class="container-fluid">
  <% @courses.each do |course| %>
    <div class="col-md-6">
      <div class="card-product">
        <div class="row">
          <div class="col">
            <img src="<%= course.image_url %>">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4><%= link_to course.title, course_path(course) %></h4>
            <p><%= course.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
