<div class="container-fluid">
  <% @courses.each do |course| %>
    <div class="col-md-6">
      <div class="card-product">
        <img src="<%= course.image_url %>">
        <h4><%= link_to course.title, course_path(course) %></h4>
        <p><%= course.description %></p>
      </div>
    </div>
  <% end %>
</div>
