// .banner {
//   color: white;
//   text-align: center;
//   height: 50vh;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-image: url("https://www.hoteldonandres.com/wp-content/uploads/2016/10/blackboard.jpg");
//   background-size: cover !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .banner h1 {
//   font-size: 50px;
//   color: $dark_red;
//   font-weight: bold;
//   text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
//   margin: 0;
// }
// .banner p {
//   font-size: 25px;
//   // font-weight: lighter;
//   color: $white;
//   opacity: 0.6;
//   margin-bottom: 30px;
//   text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
// }

// .red {
//   color: $red;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 62px;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

// Below is CSS for booking confirmation page

.confirmation-banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-image: url("https://www.hoteldonandres.com/wp-content/uploads/2016/10/blackboard.jpg");
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirmation-banner h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 50px;
  color: $dark_red;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.confirmation-banner p {
  font-size: 15px;
  // font-weight: lighter;
  color: white;
  margin-bottom: 30px;
}

.red {
  color: $red;
}

.white {
  color: $white;
}
