.btn-primary {
    color: $white;
    background-color: $dark_blue;
    border-color: $dark_blue;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    padding:  0px 15px 0px 15px;

    &:hover {
      background-color: $light_blue;
      border-color: $light_blue;
    }
}
