.btn-primary {
  color: $white;
  background-color: $dark_blue;
  border-color: $dark_blue;
  border-radius: 5px;
  height: 100%;
  font-size: 12px;
  padding: auto;
  transition: transform .2s;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  &:hover {
    // background-color: $light_blue;
    // border-color: $light_blue;
    transform: scale(1.05);
    background-color: $dark_blue;
    border-color: $dark_blue;
  }
}

// .delete-btn {
//   color: white;
// }
