.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 4px;
}

.card-product {
  overflow: hidden;
  height: $card-height;
  border-color: #282D32;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px 12px -1px rgba(0,0,0,0.55);
  align-items: center;
  margin: 15px;
  border-radius: 10px;
  background: #282D32;
  transition: border-color .6s;
  &:hover {
    border-color: $light-blue
    // background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(41,41,41,1) 100%);
  }

}

// .card-product-show {
//   overflow: hidden;
//   height: $card-height;
//   box-shadow: 0 0 15px rgba(177, 175, 175, 0.2);
//   align-items: center;
//   margin: 15px;
//   border-radius: 10px;
//   background: whitesmoke;
// }

.card-product img {
  height: $card-height * (2/3); // $card-height is specified in stylesheets/config/_bootstrap_variables.scss
  width: 100%;
  object-fit: cover; // maybe it is better to use object-fit: contain
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 25px;
}

.card-product h5 {
  padding-left: 16px;
  padding-right: 16px;
  // font-weight: bold;
  margin: 0;
  color: $white;
  text-decoration: none;
}

.card-product h6 {
  padding-left: 16px;
  padding-right: 16px;
  // font-weight: bold;
  margin: 0;
  color: $white;
  text-decoration: none;
}


.card-product p {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-bottom p {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: bold;
}

.card-product a {
  color: $white;
  text-decoration: none;



  border-radius: 10px;
}



// .card-product .card-product-infos {
//   padding: 16px;
// }
