.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 4px;
}

.card-product {
  overflow: hidden;
  height: $card-height;
  background: white;
  box-shadow: 0 0 15px rgba(177, 175, 175, 0.2);
  align-items: center;
  margin: 15px;
  border-radius: 5px;
}

.card-product img {
  height: $card-height * (2/3); // $card-height is specified in stylesheets/config/_bootstrap_variables.scss
  width: 100%;
  object-fit: cover; // maybe it is better to use object-fit: contain
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.card-product h5 {
  padding-left: 16px;
  padding-right: 16px;
  // font-weight: bold;
  margin: 0;
  color: black;
  text-decoration: none;
}

.card-product p {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-bottom p {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: bold;
}
  
.card-product a {
  color: rgb(83, 83, 83);
  text-decoration: none;
}
  
.card-product a:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
  
// .card-product .card-product-infos {
//   padding: 16px;
// }
