.card-product {
    overflow: hidden;
    height: 280px;
    background: white;
    box-shadow: 0 0 15px rgba(177, 175, 175, 0.2);
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
  }

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: contain;
  padding: 15px;
  border-radius: 5px;
}
  
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-decoration: none;
}
  
.card-product a {
  color: rgb(83, 83, 83);
  text-decoration: none;
}
  
.card-product a:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
  
.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}
  
.card-product .card-product-infos {
  padding: 16px;
}
