// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "banner";
@import "logo";
@import "button";
@import "footer";
@import "search";

// .container-fluid {
//   // padding: 30px;
// }

.container-fluid h1 {
  text-align: center;
}
.container-fluid h3 {
  text-align: center;
}

.flex-container {
  display: flex;
  display: inline-flex;
}

.flex-container > div {
  margin: 10px;
}
