.navbar-lewagon {
  justify-content: space-between;
  background-image: url('https://www.hoteldonandres.com/wp-content/uploads/2016/10/blackboard.jpg');
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
  &:hover {
    color: $light_blue;
  }
}

.container-navbar {
  padding: 0px 100px 0px 100px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $white;
  &:hover {
    color: $light_blue;
  }
}

.avatar{
  color: $white
  &:hover {
    color: $light_blue;
  }
}
