.index-search {
  display: flex;
  justify-content: center;
  margin: 20px;

}

.search-item {
  margin: 2.5px;

}

.search-filter {
  border-color: red;
  border-width: 3px;
  border-style: solid;
  ;
}
